version: "3"
services:
  your-service-name:
    image: ghcr.io/your-name/project-name:latest
    restart: unless-stopped
    environment:
      SOME_CONFIG_STUFF: |
        your_config:
          whatever: some value
    depends_on:
      - some-other-service


  redis:
    image: docker.io/bitnami/redis:7.2
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    volumes:
      - 'redis_data:/bitnami/redis/data'

volumes:
  redis_data:
    driver: local

networks:
  your-network-name:
    name: yournetwork